@import '../styles/mixins/media-queries';

.root {
  padding: 1rem 0;

  @include md {
    font-size: 18px;
    padding: 3rem 0;
  }

  h1 {
    font-size: 28px;
    line-height: 1.3;

    @include md {
      font-size: 40px;
    }
  }
}

.socials {
  margin-top: 2rem;

  &__list {
    display: inline-flex;
    list-style: none;
    margin: 0 0 0 -1rem;
    padding: 0;
  }

  &__link {
    display: inline-flex;
    text-decoration: none;
  }
}

.icon-label {
  composes: screen-reader-text from '../styles/accessibility.scss';
}
